## Q1) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.!

### Ho: diameter(A)  = diameter(B)     (same diameters)
### Ha: diameter(A) != diameter(B)     (different diameters)

In [35]:
import pandas as pd
data0=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Hypothesis testing\\cutlets.csv")
data0.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [36]:
import scipy.stats as stats

In [37]:
unit_A=data0.iloc[:,0]

In [38]:
unit_B=data0.iloc[:,1]

In [39]:
# Two Sample Test
tvalue,pvalue=stats.ttest_ind(unit_A,unit_B)

In [40]:
#interpretation of p value
alpha=0.05
if pvalue<alpha:
    print("Reject Ho (diameter(A)!=diameter(B))",pvalue)
else:
    print("Fail to reject Ho (diameter(A)=diameter(B)) = ",pvalue)

Fail to reject Ho (diameter(A)=diameter(B)) =  0.4722394724599501

##  Q2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### Ho: mu1 = mu2 = mu3 =mu4    (same average)
### Ha: mu1 != mu2 != mu3 != mu4   (different average)

In [41]:
import pandas as pd
data1=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Hypothesis testing\\LabTAT.csv")
data1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [42]:
df1=pd.DataFrame(data1,columns=['Laboratory 1'])

In [43]:
df2=pd.DataFrame(data1,columns=['Laboratory 2'])

In [44]:
df3=pd.DataFrame(data1,columns=['Laboratory 3'])

In [45]:
df4=pd.DataFrame(data1,columns=['Laboratory 4'])

In [46]:
# ANOVA Test
from scipy import stats
statistics,pvalue=stats.f_oneway(df1,df2,df3,df4)

In [47]:
#interpretation of p value
alpha=0.05
if pvalue<alpha:
    print("Reject Ho  (YES there is different average)",pvalue)
else:
    print("Fail to reject Ho  (NO there is same average)",pvalue)

Reject Ho  (YES there is different average) [2.11567089e-57]

## Q3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

### Ho: All proportions are equal 
### Ha: Not all Proportions are equal

In [48]:
data2=[[50,142,131,70],[550,351,480,350]]

In [49]:
from scipy.stats import chi2_contingency

In [50]:
#Chi2 Test
stat,p,dof,expected=chi2_contingency(data2)

In [51]:
#interpretation of p value
alpha=0.05
if p<alpha:
    print("Reject Ho (All Proportions are NoT equal) =",p)
else:
    print("Fail to reject Ho (all Proportions are equal) =",p)

Reject Ho (All Proportions are NoT equal) = 2.682172557281901e-17

### Q4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

### Ho: the defective % Does NOT varies by centre
### Ha: the defective %  varies by centre

In [76]:
import pandas as pd
data3=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Hypothesis testing\\Costomer+OrderForm.csv")
data3.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [86]:
data3=data3.rename({'Phillippines':'phili','Indonesia':'indo','Malta':'mlt','India':'ind'},axis=1)

In [87]:
data3

          phili        indo         mlt         ind
0    Error Free  Error Free   Defective  Error Free
1    Error Free  Error Free  Error Free   Defective
2    Error Free   Defective   Defective  Error Free
3    Error Free  Error Free  Error Free  Error Free
4    Error Free  Error Free   Defective  Error Free
..          ...         ...         ...         ...
295  Error Free  Error Free  Error Free  Error Free
296  Error Free  Error Free  Error Free  Error Free
297  Error Free  Error Free   Defective  Error Free
298  Error Free  Error Free  Error Free  Error Free
299  Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [88]:
data3=pd.get_dummies(data3,columns=['phili'])
data3=pd.get_dummies(data3,columns=['indo'])
data3=pd.get_dummies(data3,columns=['mlt'])
data3=pd.get_dummies(data3,columns=['ind'])

In [90]:
data3.head()

,phili_Defective,phili_Error Free,indo_Defective,indo_Error Free,mlt_Defective,mlt_Error Free,ind_Defective,ind_Error Free
0,0,1,0,1,1,0,0,1
1,0,1,0,1,0,1,1,0
2,0,1,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1
4,0,1,0,1,1,0,0,1

In [94]:
import scipy.stats as stats
statistic,pvalue=stats.f_oneway(data3.iloc[:,0],data3.iloc[:,1],data3.iloc[:,2],data3.iloc[:,3],data3.iloc[:,4],data3.iloc[:,5],data3.iloc[:,6],data3.iloc[:,7])

In [95]:
#interpretation of p value
alpha=0.05
if p<alpha:
    print("Reject Ho (the defective % varies by centre) =",pvalue)
else:
    print("Fail to reject Ho (the defective % Does NOT varies by centre) =",pvalue)

Reject Ho (the defective % varies by centre) = 0.0

## Q5) Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis

### Ho: same %       (Weekdays = Weekend)
### Ha: different %  (Weekdays != Weekend)

In [101]:
import pandas as pd
data4=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Hypothesis testing\\Faltoons.csv")
data4.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [102]:
table_data=pd.crosstab(data4['Weekdays'],data4['Weekend'])

In [103]:
table_data

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

In [104]:
#Chi2_test
from scipy.stats import chi2_contingency
stat,p,dof,expected=chi2_contingency(table_data)

In [106]:
#interpretation of p value
alpha=0.05
if p<alpha:
    print("Reject Ho (Weekdays != Weekend) =",p)
else:
    print("Fail to reject Ho (Weekdays = Weekend) :",p)

Fail to reject Ho (Weekdays = Weekend) : 0.9421022439386241