
Problem Statement:
A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 
Approach - A decision tree can be built with target variable Sale (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [598]:
# load data set
import pandas as pd

In [599]:
company_data=pd.read_csv("D:\\DATA SCIENCE\\DATA SCIENCE ASSIGNMENTS\\Assignments\\Decision Tree\\Company_Data.csv")
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [600]:
company_data['ShelveLoc'].replace({'Bad':0,'Medium':1,'Good':2},inplace=True)
company_data['Urban'].replace({'No':0,'Yes':1},inplace=True)
company_data['US'].replace({'No':0,'Yes':1},inplace=True)

In [601]:
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,2,65,10,1,1
2,10.06,113,35,10,269,80,1,59,12,1,1
3,7.40,117,100,4,466,97,1,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,2,33,14,1,1
396,6.14,139,23,3,37,120,1,55,11,0,1
397,7.41,162,26,12,368,159,1,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,2,49,16,1,1

In [602]:
company_data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,0.972500,53.322500,13.900000,0.705000,0.645000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,0.672961,16.200297,2.620528,0.456614,0.479113
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,0.000000,25.000000,10.000000,0.000000,0.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,1.000000,39.750000,12.000000,0.000000,0.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,1.000000,54.500000,14.000000,1.000000,1.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,1.000000,66.000000,16.000000,1.000000,1.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,2.000000,80.000000,18.000000,1.000000,1.000000

In [603]:
#company_data.info()

In [604]:
'''from sklearn.preprocessing import MinMaxScaler
norm_data=MinMaxScaler().fit_transform(company_data)
df=pd.DataFrame(norm_data,columns=company_data.columns)
df'''

'from sklearn.preprocessing import MinMaxScaler\nnorm_data=MinMaxScaler().fit_transform(company_data)\ndf=pd.DataFrame(norm_data,columns=company_data.columns)\ndf'

In [605]:
X=company_data.iloc[:,1:]
Y=company_data.iloc[:,0]

In [606]:
#model validation technique (train test)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=2)

## Decision Tree Regressor (CART)

In [607]:
from sklearn.tree import DecisionTreeRegressor

In [608]:
model=DecisionTreeRegressor(max_depth=9)
model.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=9)

In [609]:
#find accuracy using train test
model.score(x_test,y_test)

0.3818104418842171

In [610]:
model.score(x_train,y_train)  #Training Accuracy     overfitted

0.9874515084718215

In [611]:
#model.feature_importances_

In [612]:
#model validation technique (k-fold)
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold=KFold(n_splits=6)

In [613]:
results=cross_val_score(model,X,Y,cv=kfold)

In [614]:
#Accuracy using k-fold
results.mean()

0.3740483582032457

In [615]:
#Ensemble Technique(Bagging)
from sklearn.ensemble import BaggingRegressor
model1=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=10),n_estimators=451,random_state=7) #n_estim=no.trees(default10)

In [616]:
model1.fit(x_train,y_train)  #using train test split

BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=10),
                 n_estimators=451, random_state=7)

In [617]:
#find accuracy  using train test
model1.score(x_test,y_test)

0.6922049825434116

In [618]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model1,X,Y,cv=kfold)
results.mean()

0.6823619009099549

In [619]:
#Ensemble Technique(AdaBoost)
from sklearn.ensemble import AdaBoostRegressor
model2=AdaBoostRegressor(n_estimators=950,random_state=99)
model2.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=950, random_state=99)

In [620]:
#find accuracy  using train test
model2.score(x_test,y_test)

0.6974777555345838

In [621]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model2,X,Y,cv=kfold)
results.mean()

0.7021661459767838

## Decision Tree Classifier (CART) gini

In [622]:
X=company_data.iloc[:,1:]
# convert numeric(target var) to categorical
y=[0 if a<=7.496325 else 1 for a in Y]   
y=pd.DataFrame(y)
y.value_counts()

0    201
1    199
dtype: int64

In [623]:
#model validation technique(train test split)
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.30)

In [624]:
from sklearn.tree import DecisionTreeClassifier
model_gini=DecisionTreeClassifier(criterion='gini',max_depth=10)
model_gini.fit(X_train,Y_train)

DecisionTreeClassifier(max_depth=10)

In [625]:
#find accuracy  using train test
model_gini.score(X_test,Y_test)

0.6916666666666667

In [626]:
#or we can find accuracy using y_pred
from sklearn.metrics import accuracy_score
Y_pred=model_gini.predict(X_test)
accuracy_score(Y_pred,Y_test)

0.6916666666666667

In [627]:
model_gini.score(X_train,Y_train)    #Training Accuracy     overfitted

0.9892857142857143

In [628]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.71      0.68      0.69        62
           1       0.67      0.71      0.69        58

    accuracy                           0.69       120
   macro avg       0.69      0.69      0.69       120
weighted avg       0.69      0.69      0.69       120

In [629]:
#model validation technique (k-fold)
#Accuracy using k-fold
kfold=KFold(n_splits=10)
results=cross_val_score(model_gini,X,y,cv=kfold)
results.mean()

0.75

In [630]:
#Ensemble Technique(Bagging)
from sklearn.ensemble import BaggingClassifier
model3=BaggingClassifier(base_estimator=model_gini,n_estimators=600)
model3.fit(X_train,Y_train)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth=10),
                  n_estimators=600)

In [631]:
#find accuracy  using train test
model3.score(X_test,Y_test)

0.8166666666666667

In [632]:
Y_preds=model3.predict(X_test)
print(classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.81      0.84      0.83        62
           1       0.82      0.79      0.81        58

    accuracy                           0.82       120
   macro avg       0.82      0.82      0.82       120
weighted avg       0.82      0.82      0.82       120

In [633]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model3,X,y.values.ravel(),cv=kfold)
results.mean()

0.8074999999999999

In [634]:
#Ensemble Technique(AdaBoost)
from sklearn.ensemble import AdaBoostClassifier
model4=AdaBoostClassifier(n_estimators=167,random_state=50)
model4.fit(X_train,Y_train)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

AdaBoostClassifier(n_estimators=167, random_state=50)

In [635]:
#find accuracy  using train test
model4.score(X_test,Y_test)

0.8

In [636]:
#Accuracy using k-fold
kfold=KFold(n_splits=5)
results=cross_val_score(model4,X,y.values.ravel(),cv=kfold)
results.mean()

0.8225

## Decision Tree Classifier (C5.0) Entropy

In [637]:
X=company_data.iloc[:,1:]
y.value_counts()

0    201
1    199
dtype: int64

In [638]:
#model validation technique(train test split)
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST=train_test_split(X,y,test_size=0.3)

In [639]:
model_entropy=DecisionTreeClassifier(criterion='entropy',max_depth=10)
model_entropy.fit(X_TRAIN,Y_TRAIN)
model_entropy.score(X_TEST,Y_TEST)  #Accuracy

0.7666666666666667

In [640]:
#model validation technique (k-fold)
kfold=KFold(n_splits=9)
results=cross_val_score(model_entropy,X,y.values.ravel(),cv=kfold)
results.mean()  #Accuracy using k-fold

0.7673400673400673

In [641]:
#Ensemble Technique(Bagging)
model5=BaggingClassifier(base_estimator=model_entropy,n_estimators=420)
model5.fit(X_TRAIN,Y_TRAIN)
model5.score(X_TEST,Y_TEST)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.8833333333333333

In [642]:
#Accuracy using k-fold
kfold=KFold(n_splits=8)
results=cross_val_score(model5,X,y.values.ravel(),cv=kfold)
results.mean()

0.81

In [643]:
#Ensemble Technique(AdaBoost)
model6=AdaBoostClassifier(n_estimators=67)
model6.fit(X_TRAIN,Y_TRAIN)
model6.score(X_TEST,Y_TEST)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.825

In [644]:
#Accuracy using k-fold
kfold=KFold(n_splits=7)
results=cross_val_score(model6,X,y.values.ravel(),cv=kfold)
results.mean()

0.8574885489586033

In [645]:
#Ensemble Technique (Stacking)
from sklearn.ensemble import VotingClassifier

In [655]:
#make a list whose accuracy max
estimators=[]
#estimators.append(('DTregressorCART(AdaBoost)',model2))
estimators.append(('DTclassifierCARTgini(AdaBoost)',model4))
estimators.append(('DTclassifierC5.0entropy(Bagging)',model5))

In [656]:
estimators

[('DTclassifierCARTgini(AdaBoost)',
  AdaBoostClassifier(n_estimators=167, random_state=50)),
 ('DTclassifierC5.0entropy(Bagging)',
  BaggingClassifier(base_estimator=DecisionTreeClassifier(criterion='entropy',
                                                          max_depth=10),
                    n_estimators=420))]

In [663]:
#model validation technique(train test split)
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=0.25)
stacking=VotingClassifier(estimators)
stacking.fit(train_x,train_y)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

VotingClassifier(estimators=[('DTclassifierCARTgini(AdaBoost)',
                              AdaBoostClassifier(n_estimators=167,
                                                 random_state=50)),
                             ('DTclassifierC5.0entropy(Bagging)',
                              BaggingClassifier(base_estimator=DecisionTreeClassifier(criterion='entropy',
                                                                                      max_depth=10),
                                                n_estimators=420))])

In [675]:
stacking.score(test_x,test_y)

0.86

In [672]:
#Model validation technique(k-fold)
kfold=KFold(n_splits=9)
results=cross_val_score(stacking,X,y.values.ravel(),cv=kfold)
results.mean()

0.827665544332211